
{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Register</title>
    <link rel="stylesheet" href="{% static 'css/login/styles.css' %}">
</head>
<body>
    <div class="layout_login">

        <div class="login_box">   
    
            <h2 class="login_title">Login</h2>
            <form method="POST"> 
                {% csrf_token %}
        
                <input  class="input_user" type="text" name="nome" placeholder="Nome de usuário" required>
                <br><br>
                <input  class="input_password"  type="password"  name="senha" placeholder="Senha" required>
                <br><br>
                
                <button class="button_login" type="submit" name="login">Login</button>
                <button class="button_register" type="submit" name="register">Register</button>
            </form>
    
        </div>

    </div>

</body>
</html>